* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /*colors-product*/
    --brand-light: #60A5FA;
    --brand-dark: #1D4ED8;

    /*colors-base*/
    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    /*text-colors*/
    --text-primary: #F1F5FF;
    --text-secondary: #CBD5E1;

    --font-family: 'Archivo', sans-serif;
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family);
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font: var(--txt);
}

h1,
h2,
h3 {
    /*herda os padrões da div pai, nesse caso, os padrões do body*/
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--brand-light);
}
.container {
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}

img{
    max-width: 100%;
}

main{
    margin-top: 4rem;
    gap: 8rem;
}
.content-tag{
    display: inline-block;
    background-color: var(--brand-dark);
    padding: .4rem .8rem;
    border-radius: .4rem;
    font: 500 1rem/1.2 var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--text-primary);
    box-shadow: 0rem .4rem 1.6rem rgba(2, 6, 23, .25);
}